

/* 
    mixin es para reutilizar codigo


@mixin letra($size, $weight, $space, $background, $color)
    font-size: $size
    font-weight: $weight
    letter-spacing: $space
    background-color: $background
    color: $color

    @if $background == black
        background-color: $background
        color: whithe
    



    

.button
        @include letra(24px, 700, 12px, black, auto)
        border-radius: 35px
       
        

            
       
        
     
            


    
